.cart {
  min-height: 80vh;
  border: 2px solid yellow;
}

.cart-hero {
  height: 40vh;
  padding-top: 15vh;
}

.cart-hero h1 {
  text-align: center;
  color: white;
}


.cart-list-wrap {
  background-color: #fff;
  min-height: 100vh;
}
.cart-item-list {
  background-color: #fff;
  margin: 0 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
