.comment {
}

.comment-item {
  display: flex;
  margin: 10px 0;
}

.comment-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-item .username-time {
  display: flex;
  justify-content: space-between;
}

.comment-item .comment-detail {
  flex-grow: 1;
}
